.kb{
    font-family:"Arial", Tahoma, sans-serif;
}


.kb-search-query-text-input{
    color: black;
    font-family: Arial, Helvetica;
    font-size: .7cm;
    font-weight: bold;
    height: .8cm;
    padding-left: 2px;
    width: 15cm;
}



.surveytable tr td div{
    padding-right:400px
}


/* tables for space admin reporting */
table.tableview th.compositeasc {
    background: transparent url(/download/resources/confluence.plugins.knowledgebase.survey/icons/arrow_up.gif) no-repeat scroll 100px center;
    padding-right: 17px;
}

table.tableview th.compositedesc {
    background: transparent url(/download/resources/confluence.plugins.knowledgebase.survey/icons/arrow_down.gif) no-repeat scroll 100px center;
    padding-right: 17px;
}

table.tableview th.totalasc {
    background: transparent url(/download/resources/confluence.plugins.knowledgebase.survey/icons/arrow_up.gif) no-repeat scroll 72px center;
    padding-right: 17px;
}

table.tableview th.totaldesc {
    background: transparent url(/download/resources/confluence.plugins.knowledgebase.survey/icons/arrow_down.gif) no-repeat scroll 72px center;
    padding-right: 17px;
}

table.tableview th.indent {
    padding-left: 12px;
}

table.tableview td.indent
{
    padding-left: 12px;
}

table.toparticles
{
    width:auto;
}

/* trying to get z-index to override splitter - still not working! */
.kb-quick-search{
    z-index:50000;
}

.kb-quick-search fieldset{
    border: medium none;

}

.kb-query-text-input {
    color: black;
    font-family: Arial,Helvetica,sans-serif;
    font-size:.65cm;
    font-weight: bold;
    padding-left: 2px;
    width: 16cm;
    position: relative;
    top: -5px;
    margin-bottom: -5px;
}

.kb-query-submit {
    position: relative;
    top: -7px;
    font-size: 11pt;
}



h2.kb-search-results-count{
    border-bottom:1px solid #EEEEEE;
    color:#666666;
    font-size:0.9em;
    font-weight:normal;
    margin:0 0 1.5em;
    padding:0 0 0.3em;
    width:82.5%;
}

.kbsearch-position-adjust{
    position:relative;
    top:-3pt;
}

.kb-search-result-metadata {
    color:#666666;
    font-size:90%;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0.1cm 0 0;
    padding:0 0 .5cm;
}

.kb-search-result-metadata li {
    display:inline;

}

ul.kb-search-results {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    max-width:53em;
    padding:0 30px;
    margin-bottom:1.5em;
    position:relative;
}

ul.kb-search-results h3.search-result-title{
    color:#666666;
    font-size:1.25em;
    font-weight:normal;
    margin:0;
    padding:0 0 0.1em;
}
  /* but how to actually populate the icon!?*/
ul.kb-search-results h3 a span.icon{
    background-position:center top;
    background-repeat:no-repeat;
    display:inline-block;
    height:16px;
    left:-2px;
    position:absolute;
    text-align:center;
    width:28px;
}

/* This renders the quick search results, overriding the doc theme */
#splitter-sidebar form.kb-quick-search .aui-dropdown li{
border-bottom: 0 none;
padding: 0;
}


table.grid tbody tr.kb-plugin-help {
/*  -- background color for velocity help macros
    -- different results for FF & Chrome; leaving the one that works in FF
    background-color: #ffffff;      */
}
